a:hover {
    text-decoration: none;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
    background-color: transparent !important;
    background-image: none !important;
    color: rgba(255,255,255,0.5) !important;
}

.navbar .active .nav-link:hover, .navbar .active .nav-link:focus {
    background-color: #3A3F44 !important;
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20) !important;
    color: white !important;
}



.todoItem {
    border-top: 1px solid rgba(0,0,0,0.6)
}

.todoItem:first-child {
    border-top: none;
}

.todoItem-enter {
    opacity: 0;
    height: 0;
}

.todoItem-enter.todoItem-enter-active {
    height: 70px;
    opacity: 1;
    transition: height 300ms, opacity 300ms;
}

.todoItem-leave {
    height: 70px;
    opacity: 1;
}

.todoItem-leave.todoItem-leave-active {
    opacity: 0;
    height: 0;
    transition: height 300ms, opacity 100ms;
}

.drumPickerTopMask {
    background: linear-gradient(to bottom, rgba(39,43,48,0.65),rgba(39,43,48,0));
}

.drumPickerBottomMask {
    background: linear-gradient(to top, rgba(39,43,48,0.65),rgba(39,43,48,0));
}

.modal-content .drumPickerTopMask {
    background: linear-gradient(to bottom, rgba(50,56,62,1),rgba(50,56,62,0));
}

.modal-content .drumPickerBottomMask {
    background: linear-gradient(to top, rgba(50,56,62,1),rgba(50,56,62,0));
}
