a:hover {
    text-decoration: none;
}

.todoItem {
    border-top: 1px solid rgba(0,0,0,0.6)
}

.todoItem:first-child {
    border-top: none;
}

.todoItem:hover {
    background-color: rgba(255, 255, 255, 0.075);
}


.example-enter {
    opacity: 0;
    height: 0;
}

.example-enter.example-enter-active {
    height: 70px;
    opacity: 1;
    transition: height 300ms, opacity 300ms;
}

.example-leave {
    height: 70px;
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0;
    height: 0;
    transition: height 300ms, opacity 300ms;
}
