<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Memba?</title>

    <link rel="preload" crossorigin href="manifest.json" as="fetch"/>

    <meta name="theme-color" content="black">
    <meta name="msapplication-navbutton-color" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="preconnect" href="https://lh3.googleusercontent.com">
    <link rel="preconnect" href="https://accounts.google.com">

    <link rel="preload" crossorigin href="fontawesome/webfonts/fa-solid-900.woff2" as="font"/>
    <link rel="preload" crossorigin href="fontawesome/webfonts/fa-regular-400.woff2" as="font"/>
    <link rel="preload" crossorigin href="fontawesome/webfonts/fa-brands-400.woff2" as="font"/>

    <link rel="stylesheet" href="bootstrap-slate-4.1.3.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" th:href="@{memba.css(cachebuster=${membaCssCachebuster})}">

    <link rel="manifest" href="manifest.json">
    
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        GOOGLE_CLIENT_ID = [[${googleClientId}]];
        /*]]>*/
    </script>

</head>
<body>
<div id="app">
    <div class="container" style="padding: 0">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary"
             style="padding: 0 2px 0 2px">
            <div class="container">
                <div>
                    <img src="memba48x44.png" width="48" height="44" style="margin: 3px 2px 0 0"
                         class="d-inline-block align-top"/><span class="navbar-brand"
                                                                 style="border-right: none; padding-left: 8px">Memba</span>
                </div>
            </div>
        </nav>
        <div style="padding-top: 54px">
            <div style="margin-left: auto; margin-right: auto; margin-top: 15px; margin-bottom: 15px; width: 320px">
                <img src="memba320x249.png"/>
            </div>
        </div>
        <nav class="navbar fixed-bottom navbar-expand-lg"
             style="padding: 0 5px 0 0">
            <div class="container">
                <span>Loading...</span>
            </div>
        </nav>
    </div>
</div>

<script src="https://apis.google.com/js/api.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<script src="popper-1.14.3.min.js"></script>
<script src="bootstrap-4.1.3.min.js"></script>
<script src="hammer.min.js"></script>
<script src="jquery.hammer.js"></script>
<script type="application/javascript" th:src="@{app-bundle.js(cachebuster=${bundleJsCachebuster})}"></script>

<script th:inline="javascript">
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register([[@{serviceworker-bundle.js(cachebuster=${serviceWorkerCachebuster})}]]).then(function (registration) {
                registration.update();
                // Registration was successful
            }, function (err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>
</body>
</html>
