<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Memba?</title>
    <meta name="google-signin-client_id" th:content="${googleClientId}">

    <link rel="stylesheet" href="bootstrap-slate-4.1.3.min.css">
    <link rel="stylesheet" href="memba.css">

</head>
<body>
<div id="app">
    <div class="container" style="padding: 0">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary"
                                            style="padding: 0 5px 0 0">
            <div class="container">
                <span class="navbar-brand">
                                <img src="memba33x30.png" width="33" height="30" class="d-inline-block align-top"/>
                                <span style="margin-left: 10px">
                                Memba
                                </span>
                            </span>
            </div>
        </nav>
        <div style="padding-top: 56px">
            <div>
                <img src="memba375x344.png"/>
            </div>

        <nav class="navbar fixed-bottom navbar-expand-lg"
                                            style="padding: 0 5px 0 0">
            <div class="container">
                <span>Loading...</span>
            </div>
        </nav>
    </div>
</div>

<script src="jquery-3.3.1.min.js"></script>
<script src="popper-1.14.3.min.js"></script>
<script src="bootstrap-4.1.3.min.js"></script>
<script type="application/javascript" src="bundle.js"></script>
</body>
</html>
